### Import Libraries

In [1]:
import great_expectations as gx
import pandas as pd

### Creating GX Context

In [2]:
context = gx.get_context(mode="ephemeral")

### Creating DataSource

In [3]:
data_source_name = 'temperature_data'
data_source = context.data_sources.add_pandas(name=data_source_name)

### Creating DataAsset

In [4]:
data_asset_name = 'temperature_entity_asset'
data_asset = data_source.add_dataframe_asset(name=data_asset_name)

### Creating BatchDefinition

In [5]:
batch_definition_name = 'full_batch'
batch_definition = data_asset.add_batch_definition_whole_dataframe(batch_definition_name)

### Creating Expectations

In [6]:
expectation_temp = gx.expectations.ExpectColumnValuesToBeBetween(column="Temperature",
                                                                 max_value=45, min_value=40)

In [7]:
expectation_city = gx.expectations.ExpectColumnDistinctValuesToBeInSet(column="City",
                                                                       value_set=["Mumbai", "Delhi"])

### Creating ExpectationSuite and adding Expectations

In [8]:
expectation_suite_name = "temperature_data_suite"
expectation_suite_ref = gx.ExpectationSuite(name=expectation_suite_name)
expectation_suite = context.suites.add(expectation_suite_ref)

In [9]:
#Adding Expectation to ExpectationSuite    
expectation_suite.add_expectation(expectation_temp)
expectation_suite.add_expectation(expectation_city)

ExpectColumnDistinctValuesToBeInSet(id='4f652e1c-9115-4f3b-b13a-80b12e7a59a1', meta=None, notes=None, result_format=<ResultFormat.BASIC: 'BASIC'>, description=None, catch_exceptions=False, rendered_content=None, windows=None, batch_id=None, column='City', row_condition=None, condition_parser=None, value_set=['Mumbai', 'Delhi'])

### Creating Validation Definition

In [10]:
validation_def_name = "temperature_data_validation"

validation_definition_ref = gx.ValidationDefinition(data=batch_definition,
                                                    suite=expectation_suite,
                                                    name=validation_def_name)

In [11]:
validation_definition = context.validation_definitions.add(validation_definition_ref)

### Creating Checkpoint

In [12]:
checkpoint_name = "temperature_run_checkpoint"
checkpoint_to_add = gx.Checkpoint(
    name=checkpoint_name,
    validation_definitions=[validation_definition],
    actions=[],
    result_format="COMPLETE",  # options : BOOLEAN_ONLY, BASIC, SUMMARY, COMPLETE
)

In [13]:
checkpoint = context.checkpoints.add(checkpoint_to_add)

### Reading Data in Pandas DataFrame

In [14]:
data_df = pd.read_csv('temperature.csv')
data_df.head()

       Date    City  Temperature
0  8/1/2024  Mumbai           28
1  8/2/2024  Mumbai           30
2  8/3/2024  Mumbai           32
3  8/4/2024  Mumbai           31
4  8/5/2024  Mumbai           33

### Creating BatchParameter and running Validation

In [15]:
batch_parameters = {"dataframe": data_df}

In [16]:
validation_results = checkpoint.run(batch_parameters=batch_parameters)

Calculating Metrics:   0%|          | 0/11 [00:00<?, ?it/s]

### Displaying Validation Result

In [17]:
print(validation_results)

run_id={"run_name": null, "run_time": "2025-06-18T12:21:10.061862+06:00"} run_results={ValidationResultIdentifier::temperature_data_suite/__none__/20250618T062110.061862Z/temperature_data-temperature_entity_asset: {
  "success": false,
  "results": [
    {
      "success": false,
      "expectation_config": {
        "type": "expect_column_values_to_be_between",
        "kwargs": {
          "batch_id": "temperature_data-temperature_entity_asset",
          "column": "Temperature",
          "min_value": 40.0,
          "max_value": 45.0
        },
        "meta": {},
        "id": "04a20f0b-35a4-461b-827d-2ce91d19dc10"
      },
      "result": {
        "element_count": 62,
        "unexpected_count": 62,
        "unexpected_percent": 100.0,
        "partial_unexpected_list": [
          28,
          30,
          32,
          31,
          33,
          30,
          29,
          31,
          33,
          32,
          29,
          31,
          30,
          32,
          34,
          28,
          30,
          32,
          31,
          33
        ],
        "missing_count": 0,
        "missing_percent": 0.0,
        "unexpected_percent_total": 100.0,
        "unexpected_percent_nonmissing": 100.0,
        "partial_unexpected_counts": [
          {
            "value": 32,
            "count": 12
          },
          {
            "value": 34,
            "count": 12
          },
          {
            "value": 36,
            "count": 10
          },
          {
            "value": 30,
            "count": 6
          },
          {
            "value": 31,
            "count": 6
          },
          {
            "value": 38,
            "count": 5
          },
          {
            "value": 29,
            "count": 4
          },
          {
            "value": 33,
            "count": 4
          },
          {
            "value": 28,
            "count": 3
          }
        ],
        "partial_unexpected_index_list": [
          0,
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8,
          9,
          10,
          11,
          12,
          13,
          14,
          15,
          16,
          17,
          18,
          19
        ],
        "unexpected_list": [
          28,
          30,
          32,
          31,
          33,
          30,
          29,
          31,
          33,
          32,
          29,
          31,
          30,
          32,
          34,
          28,
          30,
          32,
          31,
          33,
          30,
          29,
          31,
          33,
          32,
          29,
          31,
          30,
          32,
          34,
          28,
          32,
          34,
          34,
          36,
          36,
          38,
          32,
          34,
          34,
          36,
          36,
          38,
          32,
          34,
          34,
          36,
          36,
          38,
          32,
          34,
          34,
          36,
          36,
          38,
          32,
          34,
          34,
          36,
          36,
          38,
          32
        ],
        "unexpected_index_list": [
          0,
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8,
          9,
          10,
          11,
          12,
          13,
          14,
          15,
          16,
          17,
          18,
          19,
          20,
          21,
          22,
          23,
          24,
          25,
          26,
          27,
          28,
          29,
          30,
          31,
          32,
          33,
          34,
          35,
          36,
          37,
          38,
          39,
          40,
          41,
          42,
          43,
          44,
          45,
          46,
          47,
          48,
          49,
          50,
          51,
          52,
          53,
          54,
          55,
          56,
          57,
          58,
          59,
          60,
          61
        ],
        "unexpected_index_query": "df.filter(items=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61], axis=0)"
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_traceback": null,
        "exception_message": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "type": "expect_column_distinct_values_to_be_in_set",
        "kwargs": {
          "batch_id": "temperature_data-temperature_entity_asset",
          "column": "City",
          "value_set": [
            "Mumbai",
            "Delhi"
          ]
        },
        "meta": {},
        "id": "4f652e1c-9115-4f3b-b13a-80b12e7a59a1"
      },
      "result": {
        "observed_value": [
          "Delhi",
          "Mumbai"
        ],
        "details": {
          "value_counts": [
            {
              "value": "Delhi",
              "count": 31
            },
            {
              "value": "Mumbai",
              "count": 31
            }
          ]
        }
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_traceback": null,
        "exception_message": null
      }
    }
  ],
  "suite_name": "temperature_data_suite",
  "suite_parameters": {},
  "statistics": {
    "evaluated_expectations": 2,
    "successful_expectations": 1,
    "unsuccessful_expectations": 1,
    "success_percent": 50.0
  },
  "meta": {
    "great_expectations_version": "1.5.1",
    "batch_spec": {
      "batch_data": "PandasDataFrame"
    },
    "batch_markers": {
      "ge_load_time": "20250618T062110.063370Z",
      "pandas_data_fingerprint": "630c38d4b2ba632bf4cae25fb0a47f6c"
    },
    "active_batch_definition": {
      "datasource_name": "temperature_data",
      "data_connector_name": "fluent",
      "data_asset_name": "temperature_entity_asset",
      "batch_identifiers": {
        "dataframe": "<DATAFRAME>"
      }
    },
    "validation_id": "b80c1e38-0109-448b-8b68-ce4104d8a833",
    "checkpoint_id": "a4e3d9bc-a855-43ab-8eeb-2f31f096fa3d",
    "run_id": {
      "run_name": null,
      "run_time": "2025-06-18T12:21:10.061862+06:00"
    },
    "validation_time": "2025-06-18T06:21:10.061862+00:00",
    "batch_parameters": {
      "dataframe": "<DATAFRAME>"
    }
  },
  "id": null
}} checkpoint_config=Checkpoint(name='temperature_run_checkpoint', validation_definitions=[ValidationDefinition(name='temperature_data_validation', data=BatchDefinition(id=UUID('dcbcce53-af30-4696-b673-37c29657e3cd'), name='full_batch', partitioner=None), suite={
  "name": "temperature_data_suite",
  "id": "0dcf6a83-d48c-49e9-8265-cf32031b446d",
  "expectations": [
    {
      "type": "expect_column_values_to_be_between",
      "kwargs": {
        "column": "Temperature",
        "min_value": 40.0,
        "max_value": 45.0
      },
      "meta": {},
      "id": "04a20f0b-35a4-461b-827d-2ce91d19dc10"
    },
    {
      "type": "expect_column_distinct_values_to_be_in_set",
      "kwargs": {
        "column": "City",
        "value_set": [
          "Mumbai",
          "Delhi"
        ]
      },
      "meta": {},
      "id": "4f652e1c-9115-4f3b-b13a-80b12e7a59a1"
    }
  ],
  "meta": {
    "great_expectations_version": "1.5.1"
  },
  "notes": null
}, id='b80c1e38-0109-448b-8b68-ce4104d8a833')], actions=[], result_format=<ResultFormat.COMPLETE: 'COMPLETE'>, id='a4e3d9bc-a855-43ab-8eeb-2f31f096fa3d') success=False